<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title> Szczegóły </title>

    <link rel="stylesheet" th:href="@{/car-details-table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/basic-button.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/buttons-spreaded.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navigation-bar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/form.css}" type="text/css">


</head>
<body>

<header>
    <img class="logo" th:src="@{/logo.svg}" alt="logo" width="5%" height="5%">

    <nav>
        <ul class="nav__links">
            <li><a href="/cars/all"> Samochody </a></li>
            <li><a href="/rental/all"> Wypożyczenia </a></li>
            <li><a href="my-account"> Moje konto </a></li>
        </ul>
    </nav>

    <a class="cta" href="#" th:href="@{/logout}"><button> Wyloguj </button></a>
</header>

<div align="center" >
    <h2 style="font-family:Arial; padding: 20px; color: white; font-size: 22px;"> Samochód </h2>

    <table id="car-details">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Marka</td>
            <td><span th:text="${car.brand}"> Brand </span></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><span th:text="${car.model}"> Model </span></td>
        </tr>
        <tr>
            <td>Typ</td>
            <td><span th:text="${car.type}"> Type </span></td>
        </tr>
        <tr>
            <td>Cena za godzinę</td>
            <td><span th:text="${car.pricePerHour}"> pricePerHour </span></td>
        </tr>
        <tr>
            <td>Cena za dzień</td>
            <td><span th:text="${car.pricePerDay}"> pricePerDay </span></td>
        </tr>
        <tr>
            <td>Ilość drzwi</td>
            <td><span th:text="${car.amountOfDoors}"> amountOfDoors </span></td>
        </tr>
        <tr>
            <td>Rok produkcji</td>
            <td><span th:text="${car.productionYear}"> productionYear </span></td>
        </tr>
        <tr>
            <td>Kolor</td>
            <td><span th:text="${car.color}"> color </span></td>
        </tr>
        <tr>
            <td>Pojemność silnika</td>
            <td><span th:text="${car.engineCapacity}"> engineCapacity </span></td>
        </tr>
        <tr>
            <td>Moc silnika</td>
            <td><span th:text="${car.horsePower}"> horsePower </span></td>
        </tr>

        </tbody>
    </table>

    <form th:action="@{/cars/all}" th:method="get">
        <p style="margin-top: 10px"><a> Kod ubezpieczenia: </a></p>
        <p style="margin-bottom: 10px;"><input type="text" name="insuranceCode" th:field="${insurance.insuranceCode}"></p>

        <p style="margin-top: 10px"><a> Nazwa ubezpieczenia: </a></p>
        <p style="margin-bottom: 10px;"><input type="text" name="insuranceName" th:field="${insurance.insuranceName}"></p>

        <p style="margin-top: 10px"><a> Dzienny koszt ubezpieczenia: </a></p>
        <p style="margin-bottom: 10px;"><input type="text" name="costPerDay" th:field="${insurance.costPerDay}"></p>

        <button type="submit" value="put" class="basicButton">Zapisz zmiany!</button>
    </form>
</div>
</body>
</html>