<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title> Samochody </title>

    <link rel="stylesheet" th:href="@{/car-details-table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/basic-button.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/buttons-spreaded.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navigation-bar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/form.css}" type="text/css">

</head>
<body>

<header>
    <img class="logo" th:src="@{/logo.svg}" alt="logo" width="5%" height="5%">

    <nav>
        <ul class="nav__links">
            <li><a href="/cars/all"> Samochody </a></li>
            <li><a href="my-account"> Moje konto </a></li>
        </ul>
    </nav>

    <a class="cta" href="#" th:href="@{/logout}"><button> Wyloguj </button></a>
</header>

<div align="center">
    <h2 style="font-family:Arial; padding: 20px; color: white; font-size: 22px;"> Edycja </h2>

    <form th:action="@{/cars/edit/{id}(id=${car.id})}" th:method="post">
        <p><a> Brand: </a></p>
        <p style="margin-bottom: 10px"><input type="text" name="brand" th:field="${car.brand}"></p>

        <p><a> Model: </a></p>
        <p style="margin-bottom: 10px"><input type="text" name="model" th:field="${car.model}"></p>

        <p><a> Type: </a></p>
        <p style="margin-bottom: 10px"><input type="text" name="type" th:field="${car.type}"></p>

        <p><a> engineCapacity: </a></p>
        <p style="margin-bottom: 10px"><input type="text" name="engineCapacity" th:field="${car.engineCapacity}"></p>

        <p><a> pricePerHour: </a></p>
        <p style="margin-bottom: 10px"><input type="text" name="pricePerHour" th:field="${car.pricePerHour}"></p>

        <p><a> pricePerDay: </a></p>
        <p style="margin-bottom: 10px"><input type="text" name="pricePerDay" th:field="${car.pricePerDay}"></p>

        <button type="submit" value="put" class="basicButton">Zapisz zmiany!</button>
    </form>
</div>
</body>
</html>