input, select, textarea {
    color: white;
}

input[type=text], input[type=password], select {
  width: 80%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align:middle;
}

/* Style the submit button */
input[type=submit] {
  width: 80%%;
  background-color: #FF8B00;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align:middle;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #FF8B00;
}

p {
    border: 1px solid #FF8B00;
    padding: 10px 10px;
    border-radius: 4px;
    width:15%;
}