<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title> Wypożyczanie </title>

    <link rel="stylesheet" th:href="@{/cars-table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/basic-button.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/buttons-spreaded.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navigation-bar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/form.css}" type="text/css">


</head>
<body>

<header>
    <img class="logo" th:src="@{/logo.svg}" alt="logo" width="5%" height="5%">

    <nav>
        <ul class="nav__links">
            <li><a href="/cars/all"> Samochody </a></li>
            <li><a href="/my-account"> Moje konto </a></li>
        </ul>
    </nav>

    <a class="cta" href="#" th:href="@{/login?logout}"><button> Wyloguj </button></a>
</header>

<div align="center">
    <form th:action="@{/rental/new}" th:method="post">
        <p><a> Data początku wynajmu: </a></p>
        <p style="margin-bottom: 10px"><input type="date" name="rentalBeginningDate" th:field="${rental.rentalBeginningDate}"></p>

        <p><a> Data końca wynajmu: </a></p>
        <p style="margin-bottom: 10px"><input type="date" name="rentalEndDate" th:field="${rental.rentalEndDate}"></p>

        <button type="submit" value="post" class="basicButton">Zapisz zmiany!</button>
    </form>
</div>
</body>
</html>