<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <title> Samochody </title>

    <link rel="stylesheet" th:href="@{/cars-table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/basic-button.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/buttons-spreaded.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navigation-bar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/vertical-form.css}" type="text/css">

  </head>
  <body>

    <header>
      <img class="logo" th:src="@{/logo.svg}" alt="logo" width="5%" height="5%">

      <nav>
        <ul class="nav__links">
          <li><a href="/cars/all"> Samochody </a></li>
          <li><a href="/my-account"> Moje konto </a></li>
        </ul>
      </nav>

      <a class="cta" href="#" th:href="@{/login-user}"><button> Wyloguj </button></a>
    </header>

    <div align="center">
      <h2 style="font-family:Arial; padding: 20px; color: white; font-size: 26px;"> Dostępne samochody </h2>

      <div class="buttons" style="width: 25%;">
        <form th:action="@{/cars/all/brandandmodel}" th:method="get" style="display: inline;">

          <a style="vertical-align:middle; font-size: 20px;"> Marka: </a>
          <p style="margin-bottom: 5px; display: inline;"><input type="text" th:name="brand"></p>

          <a style="vertical-align:middle; font-size: 20px;"> Model: </a>
          <p style="margin-bottom: 5px; display: inline; "><input type="text" th:name="carModel"></p>

          <p><button style="vertical-align:middle; margin-bottom: 10px; margin-top:10px; display: inline-block;" type="submit" value="put" class="basicButton">Szukaj</button></p>
        </form>
      </div>

      <table id="cars">
        <thead>
          <tr>
            <th> Marka </th>
            <th> Model </th>
            <th> Typ </th>
            <th> Cena za dzień </th>
            <th> Opcje </th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${cars.empty}">
            <td colspan="5"> Brak samochodów </td>
          </tr>
          <tr th:each="car : ${cars}">
            <td><span th:text="${car.brand}"> Brand </span></td>
            <td><span th:text="${car.model}"> Model </span></td>
            <td><span th:text="${car.type}"> Type </span></td>
            <td><span th:text="${car.pricePerDay}"> PricePerDay </span></td>
            <td>
              <div class="buttons">
                <a th:href="@{/cars/{id}(id=${car.id})}" class="basicButton">Podgląd</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>