<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title> Twoje konto </title>

    <link rel="stylesheet" th:href="@{/cars-table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/basic-button.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/buttons-spreaded.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navigation-bar.css}" type="text/css">

</head>
<body>

<header>
    <img class="logo" th:src="@{/logo.svg}" alt="logo" width="5%" height="5%">

    <nav>
        <ul class="nav__links">
            <li><a href="/cars/all"> Samochody </a></li>
            <li><a href=/my-account> Moje konto </a></li>
            <li><a href="/about"> O nas </a></li>
        </ul>
    </nav>

    <a class="cta" href="#" th:href="@{/login?logout}"><button> Wyloguj </button></a>
</header>

<div align="center">
    <h2 style="font-family:Arial; padding: 20px; color: white; font-size: 22px;"> Twój profil </h2>

    <img class="logo" th:src="@{/account-logo.svg}" alt="logo" width="10%" height="10%">

    <p style="padding-top: 20px; padding-bottom: 10px;">
        <a> Nazwa użytkownika: <span th:text="${user.username}"></span></a>
    </p>

    <p style="padding-bottom: 10px;">
        <a> Imię: <span th:text="${user.firstName}"> </span></a>
    </p>

    <p style="padding-bottom: 10px;">
        <a> Nazwisko: <span th:text="${user.lastName}"> </span></a>
    </p>

</div>
</body>
</html>